.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.cart-container {
    background-color: orange;
}

@media screen and (max-width:480px) {
    .shop-container {
        grid-template-columns: repeat(2,1fr);
    }
    .product-container{
        grid-template-columns: 1fr;
    }
}